* {
  box-sizing: border-box; /* Box sizing for all elements */
} 
body {
  background: linear-gradient(to bottom, #ff66c4, rgb(255, 204, 0)); /* Gradient background */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Font family */
  background-repeat: no-repeat; /* Prevent background from repeating */
  background-size: cover; /* Cover the entire background */
  width: 100%; /* Full width */
}

header {
  width: 100%; /* Full width */
  height: 100px; /* Fixed height */
  padding: 10px 10px; /* Padding for top and bottom */
}

.nav-header {
  float: right; /* Align to the right */
  margin: 0px 10px; /* Right margin */
}

.nav-header a {
  border: #b700ff solid 5px; /* Border color */
  border-radius: 10px; /* Rounded corners */
  margin-left: 20px; /* Margin between links */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(0, 0, 0);
  color: white; /* White text color */
  padding: 0px 10px;
  font-size: 60px; /* Font size */
  font-weight: 900; /* Bold text */
  text-transform: uppercase;
  float: right; /* Align to the left */
  text-decoration: none; /* Remove underline */
}

#header-home {
  background-color: #32769e; /* Green background */
}

#header-FireHeart {
  background-color: #af1a7e; /* Green background */
}

#header-posts {
  background-color: #00ff9d; /* Green background */
}

h1 {
  max-width: 90%; /* Full width */
  border: #b700ff solid 5px; /* Border color */
  border-radius: 10px; /* Rounded corners */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0); /* White text color */
  padding: 0px 10px;
  font-size: 60px; /* Font size */
  margin: 0; /* No margin */
  font-weight: 900; /* Bold text */
  text-transform: uppercase;
  float: left; /* Align to the left */
}

main {
  width: 100%; /* Full width */
  background-color: rgba(0, 35, 88, 0.05);
}

#title-main {
  font-size: 60px; /* Font size for home title */
  color: #ffffff; /* Color for home title */
  
  text-align: center; /* Centered text */
  margin-top: 20px; /* Margin above the title */
  margin-bottom: 20px; /* Margin below the title */
}

.publications-home {
  display: flex; /* Flexbox for layout */
  flex-direction: column; /* Column layout */
  width: 100%; /* Full width */
}

.publication {
  padding: 0px 20px; /* Padding for content */
  padding-bottom: 30px; /* Padding at the bottom */
  width: 80%; /* Width of the publications section */
  max-width: 1200px; /* Maximum width */
  margin: 20px auto; /* Centered with margin */
  box-shadow: 0 4px 10px rgb(0, 0, 0); /* Subtle shadow for depth */
  background-color: rgb(255, 255, 255); /* Semi-transparent white background */
  border-radius: 50px; /* Rounded corners */
  border: #00c3ff solid 5px; /* Border color */
}

.publication h2 {
  font-size: 40px; /* Font size for headings */
  color: #10476b; /* Heading color */
  margin-bottom: 20px; /* Margin below headings */
}

.img-publication-left ,.img-publication-right {
  box-shadow: 0 4px 10px rgb(0, 0, 0); /* Subtle shadow for depth */
  width: 40%; /* Full width of the image */
  max-width: 400px; /* Maximum width for larger screens */
  max-height: auto; /* Maintain aspect ratio */
  border-radius: 20px; /* Rounded corners for images */
  margin: 10px; /* Margin below images */
  margin-left: 15px;
  margin-right: 15px;
  border: #00c3ff solid 5px; /* Border color for images */
}

.img-publication-left {
  float: left; /* Align to the left */
} 

.img-publication-right {
  float: right; /* Align to the right */
}

.publications-home p {
  margin: 0; /* Remove default margin */
  padding: 0px; /* Padding for paragraphs */
  font-size: 20px; /* Font size for paragraphs */
  color: #000000; /* Text color */
  line-height: 1.5; /* Line height for readability */
  text-align: justify; /* Justify text alignment */
  background-color: rgba(97, 97, 97, 0.021); /* Semi-transparent background for paragraphs */
  border-radius: 20px; /* Rounded corners for paragraphs */
  margin-top: 20px; /* Margin above paragraphs */
}

footer {
  background-color: rgba(50, 118, 158, 0.226); /* Footer background color */
  color: white; /* Footer text color */
  text-align: center; /* Centered text */
  padding: 10px; /* Padding for footer */
  position: fixed; /* Fixed position at the bottom */
  bottom: 0; /* Align to the bottom */
  width: 10%; /* Full width */
  min-width: 200px; /* Minimum width */
}